/* #myContainer {
  width: 100%;
  border: 1px solid black;
} */
/* .ui-dialog {
  position: fixed !important;  
} */

#myContainer {
  background-color: #ffffff;
  text-align: center;
  padding: 0.3em 0.7em;
  width: auto;
  border: 1px solid #DBDBDB;
  font-family: 'NanumGothic';
}
#myContainer a { 
  color: #02547d; 
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
#myContainer a:visited { 
  color: #02547d; 
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
#myContainer a:hover { 
  color: #02547d; 
  text-decoration: underline;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

#finButton {
  background-color: #2185d0; 
  border: none;
  color: white;
  padding: 0.25em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.progressButtons {
  background-color: #0284A8;
  border: none;
  color: white;
  padding: 0.25em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.1em;
  cursor: pointer;
  font-size: 1em;
  /* float: right; */
}

.tagButtons {
  background-color: #0284A8;
  border: none;
  color: white;
  padding: 0.25em 0.5em;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0.1em;
  cursor: pointer;
  font-size: 1em;
  height: 2em;
  /* float: right; */
}
/* .dontknowProgress{
  background-color: #999999; 
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

} */

.promiseTitle {
  margin-top: 0.6em;
  margin-bottom: 1.2em;
  border: 1px solid #DBDBDB;
  padding: 0.3em 0.8em;
  box-shadow: 0.3em 0.5em rgba(109, 117, 111, 0.2);
}

.questionContent {
  margin-bottom: 0.6em;
}

.promiseTitle h3 {
  color: #02547d;
  font-size: 1.2em;
  font-weight: bold;
}

.promiseBook {
  text-align: center;
  background-color: #02547d;
  color: white;
  border-color: grey;
  padding: 0.3em 0.8em;
  width: auto;
  max-height: 2em;
  font-family: 'NanumGothic';
  font-size: 1.2em;
  font-weight: bold;
}

.promiseBook #collapseButton {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  /* display: inline-block; */
  font-size: 1.2em;
}


#myContainer .prompt {
  font-family: 'NanumGothic';
  font-size: 1em;
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#myContainer .promiseTitleButton {
  background: #0284A8;
  font-family: 'NanumGothic';
  color: white;
  font-size: 1em;
  padding: 0.3em 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  /* margin: auto; */
  word-break: keep-all;
  cursor: pointer;
}

#myContainer .likertLabels {
  font-size: 0.8em;
  display: inline-block;
  margin: 0.1em;
}

#myContainer .progressIndicator {
  display: inline-block;
  height: 1.6em;
  margin: 0.2em;
  margin-top: 0.6em;
  padding: 0.2em;
  /* width:  */
  font-size: 0.8em;
}

#myContainer .progressIndicator.done {
  background-color: #02BEC4;
  color: white;
}

#myContainer .progressIndicator.current {
  background-color: #02BEC4;
  color: white;
}

#myContainer .progressIndicator.notyet {
  background-color: #E1F7E7;
  color: #0284a8;
}

#noneBtn {
  cursor: pointer;
}
/* color scheme from https://color.adobe.com/ko/sea-waves-color-theme-10331668/ */